.City{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.Itom{
    margin-top: 20px;
}
.top{
    margin-top: 60px;
    margin-left: 70px;
    margin-bottom: 60px;
}
.Adres{
    background: #2F303A;
}
.conte{
    margin-top: 60px;
    margin-left: 215px;
    margin-bottom: 60px;
}
.Studio1{
    color: #FFFFFF;
}
.Prin{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 70px;
}
.tel{ 
    color: rgba(255, 255, 255, 0.6);
}